<p id="notice"><%= notice %></p>


  <h4>Flight number:</h4>
  <li><%= @flight.flight_number %></li>

  <h4>Origin:</h4>
  <li><%= @flight.origin %></li>

  <h4>Destination:</h4>
  <li><%= @flight.destination %></li>

  <h4>Departure date:</h4>
  <li><%= @flight.departure_date %></li>

<% if @flight.airplane.present? %>
  <h4>Airplane</h4>
  <li><%= @flight.airplane.name%></li>
<% end %>

<% if @current_user.present? && @current_user.admin?%>
  <h4>Passengers</h4>
  <% @flight.users.each do |user| %>
  <li><%= link_to user.username.capitalize, user_path(user) %> </li>
  <% end %>


<br>
<%= link_to 'Edit', edit_flight_path(@flight) %>
<% else %>
<%= link_to 'Back', flights_path %>
<% end %>

<div id="main"></div>
