
<p id="notice"><%= notice %></p>

<h1>Hello <%= @user.username.capitalize %></h1>

<p>
  <h4>Username:</h4>
  <li><%= @user.username %></li>

  <h4>Email:</h4>
  <li><%= @user.email %></li>


  <h4>Reservations</h4>
  <% @user.reservations.each do |reservation| %>
  <li> Flight: <%= link_to reservation.flight_id, flight_path(reservation.flight_id) %> </li>
  <% end %>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', login_path, :method => :delete%>
