
<p id="notice"><%= notice %></p>

<h1>Hello <%= @user.username.capitalize %></h1>

<p>
  <h4>Username:</h4>
  <li><%= @user.username %></li>

  <h4>Email:</h4>
  <li><%= @user.email %></li>

  <h4>Reservations</h4>
  <% @user.flights.each do |flight| %>
  <li> Flight: <%= link_to flight.flight_number, flight_path(flight) %> </li>
  <% end %>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', login_path, :method => :delete%>
